@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header Css Start */
.menu-bar{
  display: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}
header ul{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
header ul li a{
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #434343;
}
.header-btns{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 145px;
  height: 38px;
  border: 1px solid #000000;
  border-radius: 19px;
}
.header-btns button{
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.header-btns button:hover{
  opacity: 0.25;
  border-radius: 7px;
  background-color: #2f00ff;
  color: #FFFFFF;
}
/* Header Css End */

/* Home Css Start */
  .home{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .home-img{
    position: absolute;
    top: 0;
    right: 0;
  }
  .home-img img{
    height: 550px;
  }
  .home-text{
    padding-top: 100px;
    padding-left: 100px;
  }
  .home-text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #1F4262;
    padding-bottom: 20px;
  }
  .home-text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
  }
  .home-btns button{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 23px 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    border: 2px solid #EFEFEF;
    border-radius: 69px;
    transition: 0.4s;
  }
  .home-btns button:hover{
    color: #FFBC3A;
    background: linear-gradient(268.4deg, #0052DA -6.74%, #14AAFF 78.54%);
  }
  .home-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
/* Home Css End */

/* Services Css Start */
  .services{
    padding: 0 100px;
    margin-top: 120px;
  }
  .service-title{
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 30px;
  }
  .line{
    width: 83px;
    height: 4px;
    background: #FFBC3A;
  }
  .service-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFBC3A;
  }
  .services h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #1F4262;
    padding-bottom: 65px;
  }
  .our-services{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-bottom: 120px;
  }
  .service{
    padding-top: 60px;
    width: 244px;
    height: 269px;
    background: #FFFFFF;
    box-shadow: 8px 4px 51px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    text-align: center;
  }
  .service p{
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #434343;
  }
/* Services Css End */

/* About-Us Css Start */
  .about{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
  }
  .main-img{
    top: 35px;
    left: 35px;
    position: absolute;
  }
  .about-title{
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 30px;
  }
  .about-text h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #1F4262;
    padding-bottom: 25px;
  }
  .about ul{
    padding-left: 55px;
    padding-bottom: 30px;
  }
  .about ul li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
  }
  .about button{
    padding: 7px 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFBC3A;
    background: linear-gradient(268.4deg, #0052DA -6.74%, #14AAFF 78.54%);
    border-radius: 69px;
    border: none;
    transition: 0.4s;
  }
  .about button:hover{
    background: #000000;
    cursor: pointer;
  }
  .about li::marker{
    color:  #007ADB;;
  }
  
/* About-Us Css End */

/* Solution Css Start */
  .solution{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
  }
  .solution-title{
    display: flex;
    align-items: center;
    gap: 17px;
  }
  .solution-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFBC3A;
  }
  .title-line{
    width: 11px;
    height: 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
  }
  .solution-title-text{
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 15px 0;
  }
  .solution-title-text h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #1F4262;
  }
  .solution-text p{
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
  }
  /* cards */
  .solution-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px;
  }
  .solution-card{
    width: 342px;
    height: 481px;
    background: #F1F1F1;
    border-radius: 12px;
    padding: 21px 20px 0 20px;
  }
  .solution-card h1{
    padding-top: 21px;    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: #838383;
  }
  .solution-card p{
    padding-top: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;  
    color: #838383;
    padding-bottom: 50px;
  }
  .viewmore a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 31px;
    color: #838383;
    text-decoration: none;
    padding-right: 2px;
  }
/* Solution Css End */

/* partner Css Start */
  .partners{
    padding: 150px 0;
    background: rgba(0, 66, 197, 0.06);
  }
  .partner-title{
    display: flex;
    gap: 17px;
    align-items: center;
    padding-left: 100px;
  }
  .partner-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFBC3A;
  }
  .partners p{
    padding-left: 100px;
    padding-top: 9px;
    padding-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
  }
  .our-partner{
    width: 1109px;
    height: 97px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
/* partner Css End */

/* Project Css Start */
.project{
  padding: 100px 0;
}
  .project-title{
    display: flex;
    align-items: center;
    gap: 17px;
    padding-left: 100px;
  }
  .project-title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFBC3A;
  }
  .project-p{
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1F4262;
  }
  .project-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
  }
  .project-card{
    width: 342px !important;
    height: 451px;
    background: #0042C5;
    border-radius: 12px;
    padding: 21px 20px 0 20px;
  }
  .project-card h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .project-card p{
    padding-bottom: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .project-viewmore a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 31px;  
    color: #FFFFFF;
    padding-right: 5px;
    text-decoration: none;
  }
  .swiper-wrapper{
    justify-content: center;
  }
/* Project Css End */

/* story Css Start */
      .brand-story{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
        padding: 100px 0;
      }
      .brand-img img{
        width: 400px;
        height: 400px;
      }
      .story-title{
        display: flex;
        align-items: center;
        gap: 17px;
        padding-bottom: 50px;
      }
      .story-title h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #FFBC3A;
      }
      .story-text h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        color: #1F4262;
        padding-bottom: 25px;
      }
      .storyline{
        width: 53px;
        height: 4px;
        background: #0042C5;
      }
      .story-name{
        display: flex;
        align-items: center;
        gap: 17px;
      }
      .story-text h4{
        padding-left: 68px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #0042C5;
        padding-bottom: 50px;
      }
      .story-text p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 31px;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 15px;
      }
      .brand-story button{
        padding: 7px 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #FFBC3A;
        background: linear-gradient(268.4deg, #0052DA -6.74%, #14AAFF 78.54%);
        border-radius: 69px;
        border: none;
        transition: 0.4s;
      }
      .brand-story button:hover{
        background: #000000;
        cursor: pointer;
      }
/* story Css End */

/* Connect Css Start */
      .connect{
        padding: 150px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .connect-us{
        width: 1076px;
        height: 301px;
        background: linear-gradient(268.4deg, #0052DA -6.74%, #14AAFF 78.54%);
        border-radius: 31px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        padding: 0 50px;
      }
      .connect-img{
        position: absolute;
        bottom: 27%;
        right: 20%;
      }
      .connect-text h2{
        padding: 50px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }
      .connect button{
        padding: 23px 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #0042C5;
        background: #FFBC3A;
        border-radius: 69px;
        border: none;
      }
      .connect button:hover{
        background-color: #000000;
        cursor: pointer;
        color: #FFFFFF;
      }
/* Connect Css End */

/* Footer Css Start */
      footer{
        padding: 100px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 205px;
      }
      .square{
        width: 21px;
        height: 22px;
        background: #2E5DAB;
        border-radius: 2px;
      }
      .round{
        width: 21px;
        height: 22px;
        background: #2E5DAB;
        border-radius: 24px;
      }
      .footer-icons{
        display: flex;
        gap: 33px;
        padding-top: 30px;
      }
      .footer-info p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 31px;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 56px;
      }
      .footer-links{
        padding-top: 20px;
      }
      .footer-links h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 31px;
        color: #1F4262;
        padding-bottom: 16px;
      }
      .footer-links p{
        padding-bottom: 7px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
        color: #1F4262;
        text-align: end;
      }
      .lists{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
      }

/* Footer Css End */

/* copyright css Start */
    .copyright{
      background: #0042C5;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 50px;
      align-items: center;
    }
    .footer-nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 20px;
    }
    .copyright p ,a{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      text-decoration: none;
    }
/* copyright css End */










/* Media Query Start */

/* 992px */

@media screen and (max-width: 992px) {
    header ul{
      display: block;
      width: 100%;
      position: absolute;
      top: 100px;
      text-align: center;
    }
    header ul li{
      padding-bottom: 15px;
    }
    .menu-bar{
      display: block;
    }
    .about{
      justify-content: center;
      padding: 15px;
    }
}


@media screen and (max-width: 340px) {
  .header-btns{
    display: none;
  }
  .solution-card .solution-img{
    width: 100%;
  }
  .solution{
    padding: 15px;
  }
}

@media screen and (max-width: 1260px) {
  .home{
    padding: 15px;
    position: static;
    flex-direction: column;
    align-items: center;
  }
  .services{
    padding: 0;
  }
  .home-text{
    padding: 0;
  }
  .home-img{
    position: static;
  }
  .service-title{
    justify-content: center;
  }
  .services h1{
    text-align: center;
  }
  .connect{
    position: static;
  }
  .connect-us{
    width: 100%;
    height: 100%;
  }
  .connect-img img{
    width: 100%;
  }
  .connect-img{
    position: static;
  }
}

@media screen and (max-width: 700px) {
  .home-img img{
    width: 100%;
    height: 100%;
    display: none;
  }
  .home-text h2{
    font-size: 32px;
  }
  .our-services{
    gap: 25px;
  }
  .project-title,.project-p{
    padding: 0;
    justify-content: center;
    text-align: center;
  }
  .project-cards{
    padding: 0;
  }
  .project-card{
    width: 100%;
  }
  .project-imgs{
    width: 100%;
  }
}

@media screen and (max-width: 1163px) {
  .main-img img{
    width: 100%;
  }
  .curveimg{
    display: none;
  }
  .main-img{
    position: static;
  }
}

@media screen and (max-width: 1100px) {
  .partners{
    padding: 15px;
  }
  .partner-title ,.partners p{
    padding: 0;
    text-align: center;
  }
  .our-partner{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 25px;
  }
}


@media screen and (max-width: 440px) {
  .brand-story{
    padding: 15px;
  }
  .brand-img img{
    width: 100%;
  }
}

@media screen and (max-width: 787px) {
  .connect{
    padding: 25px;
  }
  .connect-us{
    justify-content: center;
    padding: 10px;
  }
}